page-sign-up {

  font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;

.navButton{
  float: left;
}


  .sLabels{
    padding-top:2%;
    padding-left: 0;
  }

  .submitB{
    margin-top: 9%;
    bottom: 1%;
    position: relative;

  }



}
